{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">


<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.html">
<link rel="shortcut icon" type="image/x-icon" href=" {% static 'web/assets/img/favicon.ico' %} ">

<link rel="stylesheet" href=" {% static 'web/assets/css/bootstrap.min.css'%} ">
<link rel="stylesheet" href=" {% static 'web/assets/css/owl.carousel.min.css'%}">
<link rel="stylesheet" href=" {% static 'web/assets/css/slicknav.css'%}">
<link rel="stylesheet" href=" {% static 'web/assets/css/flaticon.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/gijgo.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/animate.min.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/animated-headline.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/magnific-popup.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/fontawesome-all.min.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/themify-icons.cs'%}s">
<link rel="stylesheet" href="{% static 'web/assets/css/slick.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/nice-select.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/style.css'%}">
</head>
<body>


</div>
</div>
</div>

<header>

<div class="header-area header-transparent">
<div class="main-header header-sticky">
<div class="container-fluid">
<div class="row align-items-center">

<div class="col-xl-2 col-lg-2 col-md-1">
<div class="logo">
<a href="/"><img src=" {% static 'web/assets/img/logo/logo.png'%}" alt=""></a>
</div>
</div>
<div class="col-xl-10 col-lg-10 col-md-10">
<div class="menu-main d-flex align-items-center justify-content-end">

<div class="main-menu f-right d-none d-lg-block">
<nav>
<ul id="navigation">
 <li><a href="/">Home</a></li>
<li class="active"><a href="/about/">About</a></li>
<li><a href="/services/">Services</a></li>
<li><a href="/contact/">Contact</a></li>
</ul>

</nav>
</div>

</div>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>
</div>

</header>
<main>

<div class="slider-area2">
<div class="slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap hero-cap2 pt-70 text-center">
<h2>About US</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="about-area section-padding30 position-relative">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-6 col-md-11">

<div class="about-img ">
<img src="{% static 'web/assets/img/bg_2.jpg'%}" alt="">
</div>
 </div>
<div class="col-lg-6 col-md-12">
<div class="about-caption">

<div class="section-tittle section-tittle3 mb-35">
<span>About Our company</span>
<h2>52 Years Of Experience In Hair cut!</h2>
</div>
<p class="mb-30 pera-bottom">Brook presents your services with flexible, convenient and cdpoe layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfreplication of the designers is intended.</p>
<p class="pera-top mb-50">Brook presents your services with flexible, convefnient and ent anipurpose layouts. You can select your favorite.</p>
<img src="{% static 'web/assets/img/gallery/signature.png'%}" alt="">
</div>
</div>
</div>
</div>

<div class="about-shape">
<img src="{% static 'web/assets/img/gallery/about-shape.png'%}" alt="">
</div>
</section>


<section class="service-area pb-170">
<div class="container">

<div class="row d-flex justify-content-center">
<div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
<div class="section-tittle text-center mb-90">
<span>Professional Services</span>
<h2>Our Best services that we offering to you</h2>
</div>
</div>
</div>

<div class="row">
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption text-center mb-30">
<div class="service-icon">
<i class="flaticon-healthcare-and-medical"></i>
</div>
<div class="service-cap">
<h4><a href="#">Stylish Hair Cut</a></h4>
<p></p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption active text-center mb-30">
<div class="service-icon">
<i class="flaticon-healthcare-and-medical"></i>
</div>
<div class="service-cap">
<h4><a href="#">Body Massege</a></h4>
<p></p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption text-center mb-30">
<div class="service-icon">
<i class="flaticon-healthcare-and-medical"></i>
</div>
<div class="service-cap">
<h4><a href="#">Breard Style</a></h4>
<p></p>
</div>
</div>
</div>
</div>
</div>
</section>


<div class="team-area pb-180">
<div class="container">

<div class="row justify-content-center">
<div class="col-xl-8 col-lg-8 col-md-11 col-sm-11">
<div class="section-tittle text-center mb-100">

<span>Professional Teams</span>
<h2>Our award winner hair cut exparts for you</h2>
</div>
</div>
</div>
<div class="row team-active dot-style">

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
<div class="single-team mb-80 text-center">
<div class="team-img">
<img src="{% static 'web/assets/img/gallery/team1.png'%}" alt="">
</div>
<div class="team-caption">
<span>Master Barber</span>
<h3><a href="#">Guy C. Pulido bks</a></h3>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
<div class="single-team mb-80 text-center">
<div class="team-img">
<img src=" {% static 'web/assets/img/gallery/team2.png'%}" alt="">
</div>
<div class="team-caption">
<span>Color Expart</span>
<h3><a href="#">Steve L. Nolan</a></h3>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
<div class="single-team mb-80 text-center">
<div class="team-img">
<img src=" {% static 'web/assets/img/gallery/team3.png'%}" alt="">
</div>
<div class="team-caption">
<span>Master Barber</span>
<h3><a href="#">Edgar P. Mathis</a></h3>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="best-pricing section-padding2 position-relative">
<div class="container">
<div class="row justify-content-end">
<div class="col-xl-7 col-lg-7">
<div class="section-tittle mb-50">
<span>Our Best Pricing</span>
<h2>We provide best price<br> in the city!</h2>
</div>

<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="pricing-list">
<ul>
<li>Styling. . . . . . . . . . . . . . . . . . . . . . . . . . . . <span>$25</span></li>
<li>Styling + Color. . . . . . . . . . . . . . . . . . . <span>$65</span></li>
<li>Styling + Tint. . . . . . . . . . . . . . . . . . . . . .<span>$65</span></li>
 <li> Semi-permanent wave. . . . . . . . . . . . .<span>$65</span></li>
<li> Cut + Styling. . . . . . . . . . . . . . . . . . . . . .<span>$63</span></li>
<li> Cut + Styling + Color. . . . . . . . . . . . . <span>$100</span></li>
<li> Cut + Styling + Tint. . . . . . . . . . . . . . . .<span>$100</span></li>
</ul>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="pricing-list">
<ul>
<li>Cut. . . . . . . . . . . . . . . . . . . . . . . . . . . . .<span>$25</span></li>
<li>Shave. . . . . . . . . . . . . . . . . . . . . . . . . . <span>$65</span></li>
<li>Beard trim. . . . . . . . . . . . . . . . . . . . . . <span>$65</span></li>
<li>Cut + beard trim. . . . . . . . . . . . . . . . . <span>$65</span></li>
<li>Cut + shave. . . . . . . . . . . . . . . . . . . . . . .<span>$63</span></li>
 <li>Clean up. . . . . . . . . . . . . . . . . . . . . . . . .<span>$100</span></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="pricing-img">
<img class="pricing-img1" src="{% static 'web/assets/img/gallery/pricing1.png'%}" alt="">
<img class="pricing-img2" src="{% static 'web/assets/img/gallery/pricing2.png'%}" alt="">
</div>
</div>



<div class="gallery-area section-padding30">
<div class="container">

<div class="row justify-content-center">
<div class="col-xl-6 col-lg-7 col-md-9 col-sm-10">
<div class="section-tittle text-center mb-100">
<span>our image gellary</span>
<h2>some images from our barber shop</h2>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="box snake mb-30">
<div class="gallery-img " style="background-image: url({% static 'web/assets/img/gallery/gallery1.png'%});"></div>
<div class="overlay"></div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-6">
<div class="box snake mb-30">
<div class="gallery-img " style="background-image: url({% static 'web/assets/img/gallery/gallery2.png'%});"></div>
<div class="overlay"></div>
</div>
</div>
<div class="col-lg-8 col-md-6 col-sm-6">
<div class="box snake mb-30">
<div class="gallery-img " style="background-image: url({% static 'web/assets/img/gallery/gallery3.png'%});"></div>
<div class="overlay"></div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="box snake mb-30">
<div class="gallery-img " style="background-image: url({% static 'web/assets/img/gallery/gallery4.png'%});"></div>
<div class="overlay"></div>
</div>
</div>
</div>
</div>
</div>

</main>

<footer>

<div class="footer-area section-bg" data-background="{% static 'web/assets/img/gallery/footer_bg.png'%}">
<div class="container">
<div class="footer-top footer-padding">
<div class="row d-flex justify-content-between">
<div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
<div class="single-footer-caption mb-50">

<div class="footer-logo">
<a href="index-2.html"><img src="{% static 'web/assets/img/logo/logo2_footer.png'%}" alt=""></a>
</div>
<div class="footer-tittle">
<div class="footer-pera">

</div>
</div>
<div class="footer-number">


</div>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Hours </h4>
<ul>
<li><a href="#">Monday - Wednesday 9:00 am to 6:00 pm</a></li>
<li><a href="#">Thursday 9:00 am to 8:00pm</a></li>
<li><a href="#">Friday   9:00 am to 6:00 pm</a></li>
<li><a href="#">Saturday 10:00 am to 4:00 pm</a></li>
<li><a href="#">Sunday   Closed</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">

<h4></h4>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Location</h4>
<div class="footer-pera">
<p class="info1">12 INDEPENDCE AVENUE</p>
<p class="info1">+264817332635</p>
</div>
</div>


<div class="mt-10 info"></div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="row d-flex justify-content-between align-items-center">
<div class="col-xl-9 col-lg-8">
<div class="footer-copy-right">
<p>
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i>
</p>
</div>
</div>
<div class="col-xl-3 col-lg-4">

<div class="footer-social f-right">
<a href="."><i class="fab fa-twitter"></i></a>
<a href="."><i class="fab fa-facebook-f"></i></a>
<a href="."><i class="fas fa-globe"></i></a>
<a href="."><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>

</footer>

<div id="back-top">
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<script src="{% static 'web/assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>

<script src="{% static 'web/assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
<script src="{% static 'web/assets/js/popper.min.js'%}"></script>
<script src="{% static 'web/assets/js/bootstrap.min.js'%}"></script>

<script src="{% static 'web/assets/js/jquery.slicknav.min.js'%}"></script>

<script src="{% static 'web/assets/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'web/assets/js/slick.min.js'%}"></script>

<script src="{% static 'web/assets/js/wow.min.js'%}"></script>
<script src="{% static 'web/assets/js/animated.headline.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.magnific-popup.js'%}"></script>

<script src="{% static 'web/assets/js/gijgo.min.js'%}"></script>

<script src="{% static 'web/assets/js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.sticky.js'%}"></script>

<script src="{% static 'web/assets/js/jquery.counterup.min.js'%}"></script>
<script src="{% static 'web/assets/js/waypoints.min.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.countdown.min.js'%}"></script>
<script src="{% static 'web/assets/js/hover-direction-snake.min.js'%}"></script>

<script src="{% static 'web/assets/js/contact.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.form.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.validate.min.js'%}"></script>
<script src="{% static 'web/assets/js/mail-script.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.ajaxchimp.min.js'%}"></script>

<script src="{% static 'web/assets/js/plugins.js'%}"></script>
<script src="{% static 'web/assets/js/main.js'%}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>


