{% extends "./base.html" %}
{% load static %}

<!-- Title -->

{% block title %}  {% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'web/js1/appointment.js' %}"></script> {% endblock %}
{% block body %}
<!-- Body -->

<!-- Form -->
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <span class="anchor" id="formComplex"></span>
      <div id="appointmetForm">
          <h1 >Appointment Form</h1>
          
        </div>
      <hr class="my-5">

      <form action="." method="post">{% csrf_token %}

        <div class="col-sm-8">
          <div class="col-sm-8">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="fname" id="fname" required="true">
          </div>
          <div class="col-sm-8">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lname" id="lname" required="true">
          </div>
          
          <div class="col-8">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="mail" id="mail">
          </div>
          
            </div>
          </div>
             <br></br>
             <br></br><br></br>
          <div class="col-sm-8">
            <label for="barber">Prefered Barber</label>
            <select class="form-control" id="Barber" name="brbr">
              <option value="Kadihm M">Kadihm M </option>
              <option value="Azad Z" selected="selected"></option>
              <option value="George S">George S</option>
            </select>
          </div>
          <div class="col-sm-8">
    <label for="date">Date</label>
    <input type="date" class="form-control" id="date" name = "date"
     placeholder="Date">

  </div>
          <div class="col-sm-8">
    <label for="time">Time</label>
    <input type="time" class="form-control" id="time" name = "time"
     placeholder="Time">
  </div>
          <div class="col-md-6 pb-3 pt-5">
            <button type="submit" name="submit" class="btn btn-info btn-lg btn-block" id="submit-form">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
