
{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">


<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>  </title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.html">
<link rel="shortcut icon" type="image/x-icon" href=" {% static 'web/assets/img/favicon.ico' %} ">

<link rel="stylesheet" href=" {% static 'web/assets/css/bootstrap.min.css'%} ">
<link rel="stylesheet" href=" {% static 'web/assets/css/owl.carousel.min.css'%}">
<link rel="stylesheet" href="  {% static 'web/assets/css/slicknav.css'%}">
<link rel="stylesheet" href=" {% static 'web/assets/css/flaticon.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/gijgo.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/animate.min.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/animated-headline.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/magnific-popup.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/fontawesome-all.min.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/themify-icons.cs'%}s">
<link rel="stylesheet" href="{% static 'web/assets/css/slick.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/nice-select.css'%}">
<link rel="stylesheet" href="{% static 'web/assets/css/style.css'%}">
</head>
<body>


</div>
</div>
</div>

<header>

<div class="header-area header-transparent">
<div class="main-header header-sticky">
<div class="container-fluid">
<div class="row align-items-center">

<div class="col-xl-2 col-lg-2 col-md-1">
<div class="logo">
<a href="/"><img src=" {% static 'web/assets/img/logo/logo.png'%}" alt=""></a>
</div>
</div>
<div class="col-xl-10 col-lg-10 col-md-10">
<div class="menu-main d-flex align-items-center justify-content-end">

<div class="main-menu f-right d-none d-lg-block">
<nav>
<ul id="navigation">
 <li><a href="/">Home</a></li>
<li><a href="/about/">About</a></li>
<li class="active"><a href=".">Services</a></li>


<li><a href="/contact/">Contact</a></li>
</ul>

</nav>
</div>

</div>
</div>

<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>
</div>

</header>
</header>
<main>

<div class="slider-area2">
<div class="slider-height2 d-flex align-items-center">
<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="hero-cap hero-cap2 pt-70 text-center">
<h2>Our Services</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="service-area section-padding30">
<div class="container">

<div class="row d-flex justify-content-center">
<div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
<div class="section-tittle text-center mb-90">
<span>Professional Services</span>
 <h2>Our Best services that we offering to you</h2>
</div>
</div>
</div>

<div class="row">
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption text-center mb-30">
<div class="service-icon">
<i class="flaticon-healthcare-and-medical"></i>
</div>
<div class="service-cap">
<h4><a href="#">Stylish Hair Cut</a></h4>
<p></p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption active text-center mb-30">
<div class="service-icon">
<i class="flaticon-fitness"></i>
</div>
<div class="service-cap">
<h4><a href="#">Body Massege</a></h4>
<p></p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption text-center mb-30">
<div class="service-icon">
<i class="flaticon-clock"></i>
</div>
<div class="service-cap">
<h4><a href="#">Breard Style</a></h4>
<p></p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption active text-center mb-30">
<div class="service-icon">
<i class="flaticon-fitness"></i>
</div>
<div class="service-cap">
<h4><a href="#">Beard Sculpting</a></h4>
<p></p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption text-center mb-30">
<div class="service-icon">
<i class="flaticon-clock"></i>
</div>
<div class="service-cap">
<h4><a href="#">Grey Blending</a></h4>
<p></p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6">
<div class="services-caption text-center mb-30">
<div class="service-icon">
<i class="flaticon-healthcare-and-medical"></i>
</div>
<div class="service-cap">
<h4><a href="#">Facials</a></h4>
<p></p>
</div>
</div>
</div>
</div>
 </div>
</section>

</main>
<footer>

<footer>

<div class="footer-area section-bg" data-background="{% static 'web/assets/img/gallery/footer_bg.png'%}">
<div class="container">
<div class="footer-top footer-padding">
<div class="row d-flex justify-content-between">
<div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
<div class="single-footer-caption mb-50">

<div class="footer-logo">
<a href="index-2.html"><img src="{% static 'web/assets/img/logo/logo2_footer.png'%}" alt=""></a>
</div>
<div class="footer-tittle">
<div class="footer-pera">

</div>
</div>
<div class="footer-number">


</div>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Hours </h4>
<ul>
<li><a href="#">Monday - Wednesday 9:00 am to 6:00 pm</a></li>
<li><a href="#">Thursday 9:00 am to 8:00pm</a></li>
<li><a href="#">Friday   9:00 am to 6:00 pm</a></li>
<li><a href="#">Saturday 10:00 am to 4:00 pm</a></li>
<li><a href="#">Sunday   Closed</a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">

<h4></h4>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Location</h4>
<div class="footer-pera">
<p class="info1">12 INDEPENDCE AVENUE</p>
<p class="info1">+264817332635</p>
</div>
</div>


<div class="mt-10 info"></div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="row d-flex justify-content-between align-items-center">
<div class="col-xl-9 col-lg-8">
<div class="footer-copy-right">
<p>
Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart" aria-hidden="true"></i>
</p>
</div>
</div>
<div class="col-xl-3 col-lg-4">

<div class="footer-social f-right">
<a href="."><i class="fab fa-twitter"></i></a>
<a href="."><i class="fab fa-facebook-f"></i></a>
<a href="."><i class="fas fa-globe"></i></a>
<a href="."><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>

</footer>

<div id="back-top">
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<script src="{% static 'web/assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>

<script src="{% static 'web/assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
<script src="{% static 'web/assets/js/popper.min.js'%}"></script>
<script src="{% static 'web/assets/js/bootstrap.min.js'%}"></script>

<script src="{% static 'web/assets/js/jquery.slicknav.min.js'%}"></script>

<script src="{% static 'web/assets/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'web/assets/js/slick.min.js'%}"></script>

<script src="{% static 'web/assets/js/wow.min.js'%}"></script>
<script src="{% static 'web/assets/js/animated.headline.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.magnific-popup.js'%}"></script>

<script src="{% static 'web/assets/js/gijgo.min.js'%}"></script>

<script src="{% static 'web/assets/js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.sticky.js'%}"></script>

<script src="{% static 'web/assets/js/jquery.counterup.min.js'%}"></script>
<script src="{% static 'web/assets/js/waypoints.min.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.countdown.min.js'%}"></script>
<script src="{% static 'web/assets/js/hover-direction-snake.min.js'%}"></script>

<script src="{% static 'web/assets/js/contact.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.form.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.validate.min.js'%}"></script>
<script src="{% static 'web/assets/js/mail-script.js'%}"></script>
<script src="{% static 'web/assets/js/jquery.ajaxchimp.min.js'%}"></script>

<script src="{% static 'web/assets/js/plugins.js'%}"></script>
<script src="{% static 'web/assets/js/main.js'%}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/brber/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Jan 2021 02:12:19 GMT -->
</html>